<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ErrorLog" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <ErrorLog>
    <add key="application" value="Web Service"/>
    <add key="airline" value="EDW"/>
    <add key="logtype" value="MAIL"/>
    <add key="SmtpServer" value="mail.tikaero.com"/>
    <add key="ErrorTo" value="web.errors@bravo.aero"/>
    <add key="LogPath" value="C:\APILog"/>
  </ErrorLog>
  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  
    --><!--<add key="SQLConnectionString" value="Data Source=192.168.10.201;Initial Catalog=AVANTIK_EDW_QA_240816;Persist Security Info=False;User ID=sa;Password=password"/>--><!--
  
    
    <add key="DateFromCheckInventory" value="05/01/2019"/>
    
   --><!--<add key="SQLConnectionString" value="Data Source=172.19.210.15\\EDW_DEV;Initial Catalog=AVANTIK_EDW_QA;Persist Security Info=False;User ID=AVANTIK_EDW1;Password=eDW_lOGIN1"/>--><!--

    <add key="ApplyWaitlistflag" value="true"/>
  </appSettings>-->
  
     <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<!--<add key="SQLConnectionString" value="Data Source=BVO-ZRH-NSM-SQ\EDW_DEV;Initial Catalog=AVANTIK_EDW_QA;Persist Security Info=False;User ID=AVANTIK_EDW1;Password=eDW_lOGIN1"/>-->	
    <add key="SQLConnectionString" value="Data Source=172.19.210.33;Initial Catalog=avantik_edw_dev;Persist Security Info=False;User ID=trixit.dev;Password=kJ6kfPKgEzA6rHHtDC16"/>
	<add key="ApplyWaitlistflag" value="false"/>
  </appSettings>
  
    
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Custom.BasicHTTPBinding.Configuration" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
      

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
             maxArrayLength="2147483647" maxBytesPerRead="2147483647"
             maxNameTableCharCount="2147483647"/>
          
          <security mode="None"/>
          
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="Custom.WSHTTPBinding.Configuration" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
             maxArrayLength="2147483647" maxBytesPerRead="2147483647"
             maxNameTableCharCount="2147483647"/>

          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="BookingServiceBehaviors" name="Avantik.Web.BookingAPI.Service.BookingService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Custom.BasicHTTPBinding.Configuration"
          contract="Avantik.Web.BookingAPI.Service.Contract.IBookingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
       
        <behavior name="BookingServiceBehaviors">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" 
                           httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
     
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    
    <!-- PROD-->
    
    <!--<client>
      <endpoint
        address="http://wkbookingapi-pp.avantik.io/AvantikService/BookingService.svc?wsdl"
        binding="wsHttpBinding"
        bindingConfiguration ="Custom.WSHTTPBinding.Configuration"
        contract="Avantik.Web.Service.Contracts.IBookingService"/>
    </client>-->
    
    <!-- TEST-->
    <!--
   <client>
    <endpoint address="http://wkzrhsecure-test.avantik.io/AvantikService/BookingService.svc?wsdl"
     binding="wsHttpBinding" 
     bindingConfiguration="Custom.WSHTTPBinding.Configuration"
     contract="Avantik.Web.Service.Contracts.IBookingService" />
   </client>
     <client>
      <endpoint
        address="https://wkapi-test.bravopss.io/AvantikService/BookingService.svc?wsdl"
        binding="wsHttpBinding"
        bindingConfiguration ="Custom.WSHTTPBinding.Configuration"
        contract="Avantik.Web.Service.Contracts.IBookingService"/>    
    </client>
   -->
    <client>
      <endpoint
        address="http://localhost:4345/BookingService.svc"
        binding="wsHttpBinding"
        bindingConfiguration ="Custom.WSHTTPBinding.Configuration"
        contract="Avantik.Web.Service.Contracts.IBookingService"/>    
    </client>
    
    <!--<client>
      <endpoint
        address="http://wkbookingapi-pp.avantik.io/AvantikService/BookingService.svc"
        binding="wsHttpBinding"
        bindingConfiguration ="Custom.WSHTTPBinding.Configuration"
        contract="Avantik.Web.Service.Contracts.IBookingService"/>
      
      <endpoint
             address="http://wkbookingapi-pp.avantik.io/AvantikService/BookingService.svc"
             binding="wsHttpBinding"
             bindingConfiguration ="Custom.WSHTTPBinding.Configuration"
             contract="Avantik.Web.Service.Contracts.ISystemService"/>    
    </client>-->
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>